<div class="search-form">
    <h2 class="search-word">From:</h2>
    <select ng-init="Origin = options[0]" ng-model="$srchCtrl.origin" ng-options="x.city for x in $srchCtrl.cities" class=" search-select ">
        </select>
    <h2 class="search-word">To:</h2>
    <select ng-model="$srchCtrl.destination" ng-options="x.city for x in $srchCtrl.cities" class="search-select ">
        </select></br>
        <a ui-sref="main.route-search({origin:$srchCtrl.origin.city,destination:$srchCtrl.destination.city})">
        <button type="button" class="search-select btn btn-danger">Search Flight</button>
    </a>
</div>