<div class="scroll-container bttm">
        <div class="titles">
                <h3 ng-style="{{$tripsCtrl.routessStyle?{'visibility':'visible'}:{'display':'none'} }}">Possible Routes:</h3>
                <h3 ng-style="{{$tripsCtrl.historyStyle?{'visibility':'visible'}:{'display':'none'} }}">Your booked trips:</h3>
              </div>
    <div ng-repeat="lol in $tripsCtrl.resolvedTripssList.data" class="tripBlock" ng-style="{{$tripsCtrl.bck($index)}}">
        
            <h4 class="route"><b>Route {{$index+1}}:</b>&nbsp&nbsp<span class="label label-info">&nbsp&nbsp{{lol[0].origin}} &nbsp&nbsp<i class="fa fa-fighter-jet" aria-hidden="true"></i> &nbsp&nbsp{{lol[lol.length-1].destination}}&nbsp&nbsp</span> </h4>
            <p class="trip-list-bttns">
        <button ng-click="$tripsCtrl.drawTrip(lol)" class="btn btn-primary spacer">Show trip route</button>
        <button ng-click="$tripsCtrl.book(lol)" class="btn btn-primary spacer" ng-style="{{$tripsCtrl.myStyle?{'visibility':'visible'}:{'display':'none'} }}">Book now</button>
    </p>
    <div class="tripNg">
        <trip   lol="lol" ></trip>
    </div>
        
        
        <div class="trip-list-statistics">
            <div><b>Total flight time:</b> &nbsp&nbsp{{$tripsCtrl.flightTime(lol)}}hrs</div> 
            <div class="sticks">|</div>
            <div><b>Stops:</b> &nbsp&nbsp{{$tripsCtrl.stops(lol)}}</div> 
            <div class="sticks">|</div>
            <div><b>Time spent at duty frees:</b> &nbsp&nbsp{{$tripsCtrl.offsetTime(lol)}}hrs</div>
        </div>
    
    </div>

    <h1 class="sorry" ng-style="{{$tripsCtrl.$trips.sorryStyle?{'visibility':'visible'}:{'display':'none'} }}">Sorry, not today :)</h1>
    <h1 class="sorry" ng-style="{{$tripsCtrl.$trips.nothingStyle?{'visibility':'visible'}:{'display':'none'} }}">Looks like you have no money to fly :)</h1>
    </div>