.search-form {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.f-search-element {
    background: rgba(29, 100, 142, 0.64);
    border: 1px inset;
     /* flex: 1 0px; */
}

.search-word {
    color: #5a5757;
}

.search-select {
    min-width: 15vw;
    font-size: large;
}

.map {
    /* flex: 4 0px;  */
    width: 80vw;
    height: 100%;
}

.map-1 {
    height: 100%;
}


.top {
    display: flex;
    height: 40vh
}

.scroll-container {
    overflow-y: scroll;
    height: 51.3vh;
    background: #e2e2e2;
    border-top: 1px inset;
}

.bttm {
    display: flex;
    flex-flow: column;
    height: 51.3vh;
}

.panel {
    min-width: 390px
}

.tripNg {
    display: flex;
    flex-flow: column;
}

.tripBlock   {
    padding: 2% 0%;
}

.navbar {
    background-color: #d0d6dc;
    margin-bottom: 0;

}

nav {
    margin-bottom: 0;
}

.navbar.navbar-default {
    border-color: #adadad;
}

.navbar-default .navbar-nav > .active > a {
    color: #555;
    background-color: #d2d5d8;
    
}

.navbar-default .navbar-nav > li > a {
    color: #656161;
    font-size: large;
}

.form-signin{
    width: 30vw;
    min-width: 300px;
    padding-top: 20vh;
}

.signin-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.register-container {
    display: flex;
    justify-content: center;
    padding-top: 20vh;
}

.register {
    width: 50vw;
    min-width: 400px;
}

.titles {
    align-self: center;
}

.sorry {
    font-size: 50px;
    align-self: center;
}

.trip-list-bttns {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5%;
}

.trip-list-statistics {
    justify-content: space-around;
    display: flex;
    max-width: 70vw;
    margin: auto;
    font-size: 20px;
}

.flghts-aval-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.route {
    margin-left: 3%;
}

.btn.btn-danger{
    margin: 5px;
    font-size: 20px;

}

select {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #F7F4F4;
    font-size: large;
    size: large;
}

option {
    font-size: large;
}

.navbar.navbar-default {
    margin-bottom: 0;
}

.spacer {
    margin: 5px 10px;
    
}

.btn.btn-primary.spacer {
    font-size: 20px;
}

.sticks {
    color: #0046cc;
}

.col-md-4:focus {
    outline: none;
    border: 0;
 }

 .col-md-4:hover{
    transform: scale(1.03, 1.03);
 }

 .label-info {
    background-color: rgba(119, 24, 72, 0.55)  !important;

 }

 .label {
    color: #2b0707 !important;
    padding: .3em .6em .3em  !important;
    font-size: 18px !important;
 }

 .marker {
     background: rgba(163, 191, 247, 0.82);
     padding: 2px;
     font-size: 15px;
 }

 .stop-cities {
    background: rgba(159, 255, 34, 0.82);
    padding: 2px;
    font-size: 15px;
 }